
body{
    font-family: 'Lora', serif;
    margin: 0;
}

hr{
    width:50%;
    /* border: solid gray;
    border-top: none;
    border-left: none;
    border-right: none; */
}

/* ============== Top Div STRT================= */
.topDiv{
    padding: 10%;
    background-image: url('./a1b464a6-de8e-481c-a559-bb690c63726f.JPG');
    background-size: cover;
    background-position: 0% 25%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    width: auto;
    height: 900px;

    /* text */
    color: rgb(241, 212, 179);
    text-align: center;
    
}

.topDiv span{
    background-color: rgba(3, 3, 3, 0.6);
    border-radius: 5%;
    padding: 0 1%;
}
.topDiv div:first-child{
    margin-top: 250px;
}

.greeting > h4{
    font-weight: lighter;
    font-style: italic;
    font-size: 250%;
}
.name > h1{
    font-weight: bold;
    font-style: italic;
    font-size: 400%;
}
.name *{
    margin: 0;
}

/* ============== Top Div END================= */



/*=============== About Div STRT===============*/
.aboutDiv{
    background-color: whitesmoke;
    border-radius: 10% 0;
    width: auto;
    text-align: center;
}
/*=============== About Div END===============*/


/*=============== Education Div STRT===============*/
.educationDiv{
    background-color: white;
    width: auto;
    text-align: center;
}
/*=============== About Div END===============*/


/*=============== Skill Div STRT===============*/
.skillDiv{
    background-color: whitesmoke;
    width: auto;
    text-align: center;
}

.skillDiv .card-columns{
    padding: 5% 5%;
}

.skillDiv .card{
    text-align: left;
    margin-bottom: 20px;
    border: 0;
    box-shadow: 4px 8px 9px #888888;
}

.skillDiv .listItm{
    position: relative;
    left: 0;
    top:0;
    transition: left ease-in-out .2s, top ease-in-out .2s;
}
.skillDiv .listItm:hover{
    left: 20px;
    top: -1.5px;
}
/*=============== Skill Div END===============*/

/* =============Exp divs STRT================ */
.expDiv{
    background-color: white;
    width: auto;
    text-align: center;
}

.innerExpDiv{
    text-align: left;
    padding: 3% 3%;
    border: 1px none;
    margin-top: 6%;
    border-radius: 2%;
    background-color: whitesmoke;
    position: relative;
    left: 0;
    top:0;
    box-shadow: 0 0 0 #888888;
    transition: left ease-in-out .6s, top ease-in-out .6s, box-shadow ease-in-out .4s;
}

/* .expDiv > div:hover{ */
    /* //one way independent of other things */
    /* transform: translate(20px,-20px);
    transition: transform ease-in .4s; */
    /* top:-20px;
    left:-20px;
} */

.innerExpDiv p{
    margin: 1px;
}

/* =============Exp divs END================ */

/* =============Proj divs STRT================ */
.projDiv{
    background-color: white;
    width: auto;
    text-align: center;
}

.innerProjDiv{
    text-align: left;
    padding: 3% 3%;
    border: 1px none;
    margin: 3% 3%;
    border-radius: 2%;
    background-color: whitesmoke;
    position: relative;
    left: 0;
    top:0;
    box-shadow: 0 0 0 #888888;
    transition: left ease-in-out .6s, top ease-in-out .6s, box-shadow ease-in-out .4s;
}

/* .expDiv > div:hover{ */
    /* //one way independent of other things */
    /* transform: translate(20px,-20px);
    transition: transform ease-in .4s; */
    /* top:-20px;
    left:-20px;
} */


/* =============Proj divs END================ */



/* ================Main Profile STRT===================== */
#profile {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    color: rgb(99, 97, 97);
}

#profile span{
    font-weight: 500;
    font-size: 110%;
    color:  black;
    font-style: italic;

}

#profile h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

#profile > div{
    padding: 5% 10%;
}
/* ================Main Profile END===================== */