html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lora', serif;
    margin: 0;
}

hr{
    width:50%;
    /* border: solid gray;
    border-top: none;
    border-left: none;
    border-right: none; */
}

/* ============== Top Div STRT================= */
.topDiv{
    padding: 10%;
    background-image: url('./a1b464a6-de8e-481c-a559-bb690c63726f.JPG');
    background-size: cover;
    background-position: 0% 25%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    width: auto;
    height: 900px;

    /* text */
    color: white;
    text-align: center;
    
}

.topDiv span{
    background-color: rgba(3, 3, 3, 0.45);
    border-radius: 5%;
    padding: 0 1%;
}
.topDiv div:first-child{
    margin-top: 250px;
}

.greeting > h4{
    font-weight: lighter;
    font-style: italic;
    font-size: 250%;
}
.name > h1{
    font-weight: bold;
    font-style: italic;
    font-size: 400%;
}
.name *{
    margin: 0;
}

/* ============== Top Div END================= */



/*=============== About Div STRT===============*/
.aboutDiv{
    position: relative;
    background-color: whitesmoke;
    width: auto;
    text-align: center;
    
}

/* .aboutDiv:after{
    position:absolute;
    content: " ";
    display:block;
    left:-5%;
    bottom:-35px;
    transform:rotate(-2.5deg);
    width:110%;
    height: 80px;
    background: khaki;
   
}
.aboutDiv:before{
    position:absolute;
    content: " ";
    display:block;
    left:-5%;
    top: -35px;
    transform:rotate(2.5deg);
    width:110%;
    height: 80px;
    background: lawngreen;
   
} */
/*=============== About Div END===============*/


/*=============== Education Div STRT===============*/
.educationDiv{
    background-color: white;
    width: auto;
    text-align: center;
}
/*=============== About Div END===============*/


/*=============== Skill Div STRT===============*/
.skillDiv{
    position: relative;
    background-color: whitesmoke;
    width: auto;
    text-align: center;
}

.skillDiv .card-columns{
    padding: 5% 5%;
}

.skillDiv .card{
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 4px 8px 9px #888888;
}


.skillDiv .listItm{
    position: relative;
    left: 0;
    top:0;
    transition: left ease-in-out .2s, top ease-in-out .2s;
}
.skillDiv .listItm:hover{
    left: 20px;
    top: -1.5px;
}
/*=============== Skill Div END===============*/

/* =============Exp divs STRT================ */
.expDiv{
    background-color: white;
    width: auto;
    text-align: center;
    z-index: 1;
}

.innerExpDiv{
    text-align: left;
    padding: 3% 3%;
    border: 1px none;
    margin-top: 6%;
    border-radius: 2%;
    background-color: whitesmoke;
    position: relative;
    left: 0;
    top:0;
    box-shadow: 0 0 0 #888888;
    transition: left ease-in-out .6s, top ease-in-out .6s, box-shadow ease-in-out .4s;
}

/* .expDiv > div:hover{ */
    /* //one way independent of other things */
    /* transform: translate(20px,-20px);
    transition: transform ease-in .4s; */
    /* top:-20px;
    left:-20px;
} */

.innerExpDiv p{
    margin: 1px;
}

/* =============Exp divs END================ */

/* =============Proj divs STRT================ */
.projDiv{
    background-color: white;
    width: auto;
    text-align: center;
}

.innerProjDiv{
    text-align: left;
    padding: 3% 3%;
    border: 1px none;
    margin: 3% 3%;
    border-radius: 2%;
    background-color: whitesmoke;
    position: relative;
    left: 0;
    top:0;
    box-shadow: 0 0 0 #888888;
    transition: left ease-in-out .6s, top ease-in-out .6s, box-shadow ease-in-out .4s;
}


/* =============Proj divs END================ */



/* ================Main Profile STRT===================== */
#profile {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    color: rgb(99, 97, 97);
}

#profile span{
    font-weight: 500;
    font-size: 110%;
    color:  black;
    font-style: italic;

}

#profile h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

#profile > div{
    padding: 8% 10%;
}

#profile #navbar{
    padding: 0;

}
/* ================Main Profile END===================== */

/* ================Icon STRT===================== */
.Icon{
    margin: 0% 1%;
    font-size: 3rem;
}
/* ================Icon END===================== */

/* ================NAv STRT===================== */
/* side menu */
.navDiv{
    border-radius: 3%;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 89%;
    width: 10%;
    overflow: hidden;
    background-color: rgba(3, 3, 3, 0.45);
    text-align: center;
}
.navDiv a{
    height: 100%;
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    
    text-decoration: none;
    
}

/* top nav bar */
.navBarDiv{
    position: fixed;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.navBarDiv a {
    display: inline-block;
    color: white;
    text-align: center;
    
    text-decoration: none;
    
}

#navbar {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgba(3, 3, 3, 0.45);
}
  
#navbar a{
    font-size: 1.3rem;
    padding: 15px 8px;
}

#navbar a:hover {
    background-color: rgb(0, 132, 255);
}

.hideIcon{
    display: none;
}

.showIcon{
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 1.3rem;
    margin-right: 5%;
    padding: 15px 8px;
}

.hideLinks{
    position: fixed;
    z-index: 1;
    text-align: right;
    width: 100%;
}

.hideLinks a{
    display: none; 
}

.showLinks{
    text-align: right;
}

.showLinks a {
    display: inline-block;
    color: white;
    text-align: center;
    
    text-decoration: none;
    
}
/* ================NAv END===================== */